h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 100px;
}

h2 {
    width: 99%;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    position: absolute;
}

button {
    position: absolute;
    width: 12%;
    height: 6.67%;
    border: 1px;
    border-radius: 500px;
    font-size: 50px;
    background-color: #2d7452;
    color: #FFFFFF;
}

button:hover {
    background-color: #3d8462;
    cursor: pointer;
}

#hitbutton {
    right: 20%;
    top: 400px;
}

#standbutton {
    right: 7.5%;
    top: 400px;
}

#betbutton {
    right: 13.75%;
    top: 325px;
}

#dealerhand {
    top: -25px;
}

#playerhand {
    top: 375px;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-size: 50px;
}

#gamelink {
    position: absolute;
    top: 370px;
    left: 75px;
}

#infolink {
    position: absolute;
    top: 370px;
    right: 75px;
}

#infotext {
    position: absolute;
    font-size: 40px;
    top: 100px;
}

body {
    background-color: #005b2f;

}

div {
    position: absolute;
    font-size: 50px;
}

#bet {
    right: 12.25%;
    top: 250px;
    width: 15%;
}

#betInput {
    background-color: #004725;
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

#betInput::-webkit-inner-spin-button,
#betInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
code to get rid of arrows for input field created by chatGPT
*/

#betInput::placeholder {
    color: #FFFFFF;
}

#playercards {
    width: 99%;
}

#dealercards {
    width:99%;
}

#credits {
    width: 99%;
    text-align:right;
    color: #FFFFFF;
}
#background {
    text-align: center;
    z-index: -1;
    color: #2d7452;

}

#navbar {
    z-index: 1;
}

a {
    color: #e5c700;
}

img {
    display:flex;
    transform-origin: 0% 0%;
    scale: 30%;
}

#dealer1{
    position: absolute;
    left: 46%;
    top: 120px;
}

#dealer2{
    position: absolute;
    left: 47%;
    top: 132.5px;
}

#player1{
    position: absolute;
    left: 46%;
    top: 500px
}

#player2{
    position: absolute;
    left: 47%;
    top: 512.5px;
}
